@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

.title {
  font-family: Roboto Condensed
}

.input-group {
    width: 500px;
    margin: 5px auto 5px auto;
}

.results {
    margin: 15px 0px 0px 0px;
}

.art {
    padding: 1px 2px 5px 15px;
    margin: 0px 0px 20px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.33);
}

.art:hover {
    border-left: 7px solid #4cae4c;
    margin: 0px 0px 20px -7px;
}

.searching {
    color: #777;
}

a.asd, a.asd:hover, a.asd:visited, a.asd:active {
   color: black;
    text-decoration: none;
}